/*-- scss:defaults --*/
/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2');
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ibm-plex-sans-v21-latin-regular.woff2') format('woff2');
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/ibm-plex-sans-v21-latin-italic.woff2') format('woff2');
}

/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-regular.woff2') format('woff2');
}
/* atkinson-hyperlegible-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-italic.woff2') format('woff2');
}
/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-700.woff2') format('woff2');
}

/* scope-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Scope One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/scope-one-v14-latin-regular.woff2') format('woff2');
}

$grid-body-width: 700px;
$grid-sidebar-width: 300px;
$grid-margin-width: 300px;
$grid-column-gutter-width: 1.5rem;
$link-color: #5B1317; // "#643D35" "#1D323E" "#5B1317" "#134263" old: #7b292b
$base-font-size: 16px;

/*-- scss:rules --*/
$web-font-path: false;

body {
  font-family: "IBM Plex Sans", sans-serif !important;
}

.navbar {
  font-size: $base-font-size * 1.2;
}

#quarto-document-content > p {
  text-align: justify;
}

// change width for better legibility
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  max-width: 700px !important;
}

.navbar, footer {
  max-width: 700px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}

// ensures nav bar aligns across blog posts and other pages
html {
  overflow-y: scroll;
}

// remove whitespace before navigation bar, align with body, and handle about page alignment
.navbar.navbar-expand-lg,
.navbar-container.container-fluid,
.nav-link { // .nav-link also covers .nav-link.active for these properties
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// needed to align about page navbar
.navbar-expand-lg,
.navbar-nav {
  padding-left: 0;
  padding-right: 0;
}


// make sure menu items have consistent spacing
.navbar-nav {
  width: auto !important;
}

.nav-item {
  padding-right: 1rem !important;
}

// fix the last item padding alignment with body
.navbar-nav.ms-auto li:last-child {
  padding-right: 0 !important;
}

// underline upon hover navbar
.navbar li a:hover {
  text-decoration: underline;
}

// footer decrease font size, avoid line breaks
.nav-footer .nav-item {
  font-size: 13px;
  padding: 4px 8px;
  display: inline-block; /* helps prevent breaking */
  white-space: nowrap; /* prevents wrapping */
}

.nav-footer .nav-link {
  text-decoration: none; /* remove underline */
}

// remove whitespace above table listing page
main.content#quarto-document-content {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

// meta info article one line
#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
}

// font sizes/types blog pages
.content#quarto-document-content {
  .quarto-title {
    h1 {
      font-size: calc(1.34rem + 0.9vw);
    }
  }

  h1, .h1, h2, .h2, h3, .h3 {
    //  font-weight: bold;
    color: #1D323E;
    font-family: "Atkinson Hyperlegible";
  }
}

h1, .h1 {
  font-size: calc(1.27rem + 0.48vw);
}

h2, .h2 {
  font-size: calc(1.25rem + 0.24vw);
}

h3, .h3 {
  font-size: calc(1.23rem + 0.12vw);
}

// shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
  font-family: IBM Plex Mono;
  font-size: 0.65em;
}

p > code, li > code, span > code {
  color: #134263; // #f5f5f5
  border-radius: 3px;
  padding: 0.15em 0.3em;
  font-size: 0.8em;
}

// break up word if too long
p, li {
  hyphens: auto;
  -webkit-hyphens: auto; // Safari
  -moz-hyphens: auto;    // Firefox (older versions)
  -ms-hyphens: auto;     // IE/Edge (older versions)
}